body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}

li {
    cursor: pointer;
    margin-left: 20px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.file {
    font-style: italic;
    margin-left: 20px;
    cursor: pointer;
}

.selected {
    background-color: #f0f0f0;
}

details > summary::-webkit-details-marker {
    display: none;
}

details[open] > summary::before {
    content: '📂';
    margin-right: 5px;
}

summary::before {
    content: '📁';
    margin-right: 5px;
}

.file::before {
    content: '📄';
    margin-right: 5px;
}